In [17]:
#Import libraries
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager # sustituye al archivo
from selenium.webdriver.common.by import By # By es para buscar por tag, clase, id...
import time
import warnings
warnings.filterwarnings('ignore')
import pandas as pd

In [18]:
PATH = ChromeDriverManager().install()    # instala driver de chrome

driver = webdriver.Chrome(PATH)      # abre una ventana de chrome

#Busqueda didn´t work, I had to type up the whole URL + search

URL='https://www.booking.com/searchresults.es.html?ss=Chamart%C3%ADn&ssne=Chamart%C3%ADn&ssne_untouched=Chamart%C3%ADn&efdco=1&label=gen173nr-1BCBkoggI46AdIM1gEaEaIAQGYAQq4ARfIAQzYAQHoAQGIAgGoAgO4AvPn46IGwAIB0gIkOTFmYzYxYTAtYjc3NC00NDM5LWIwNTgtOWIyNGIwYjRiZDA52AIF4AIB&sid=d4b5462ce9ae6cf55f51b42829c8b5ed&aid=304142&lang=es&sb=1&src_elem=sb&src=searchresults&dest_id=180&dest_type=district&checkin=2023-05-08&checkout=2023-05-09&group_adults=2&no_rooms=1&group_children=0&sb_travel_purpose=leisure&flex_window=1'

driver.get(URL)

time.sleep(3)

driver.find_element(By.XPATH, '//*[@id="onetrust-reject-all-handler"]').click()  # rechaza cookies

In [19]:
tabla = driver.find_elements(By.CLASS_NAME, 'd20f4628d0')

filas = [e.text.split('\n') for e in tabla]

filas

[['Roisa Hostal Boutique',
  'Se abre en una ventana nueva',
  'Promocionado',
  'Este establecimiento paga un poco más para promocionarse en nuestra página. Cumple con tus criterios de búsqueda y es una muy buena opción.',
  'Chamartín, MadridMostrar en el mapaCerca del metro',
  'Nivel 2 del programa de Viajes sostenibles',
  '8,0',
  'Muy bien',
  '2.863 comentarios',
  'Habitación Doble',
  '2 camas individuales',
  'Solo queda 1 habitación a este precio en nuestra web',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 95',
  'Precio € 95',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['La Posada de El Chaflán',
  'Se abre en una ventana nueva',
  'Chamartín, MadridMostrar en el mapa',
  'Nivel 1 del programa de Viajes sostenibles',
  '7,0',
  'Bien',
  '1.476 comentarios',
  'Oferta Escapada',
  'Habitación Doble',
  '1 cama doble',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 90€ 72',
  'Precio original € 90. Precio actual € 72.',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['Ilunion Pio XII',
  'Se abre en una ventana nueva',
  'Chamartín, MadridMostrar en el mapa',
  'Nivel 3 del programa de Viajes sostenibles',
  '8,3',
  'Muy bien',
  '9.142 comentarios',
  'Oferta Escapada',
  'Habitación Doble - 1 o 2 camas',
  'Camas: 1 doble o 2 individuales',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 149€ 119',
  'Precio original € 149. Precio actual € 119.',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['Crisol Vía Castellana',
  'Se abre en una ventana nueva',
  'Chamartín, MadridMostrar en el mapaCerca del metro',
  'Nivel 3 del programa de Viajes sostenibles',
  '8,2',
  'Muy bien',
  '5.100 comentarios',
  'Habitación Doble Clásica - 1 o 2 camas',
  'Camas: 1 doble o 2 individuales',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 140',
  'Precio € 140',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['Hotel Chamartin The One',
  'Se abre en una ventana nueva',
  'Chamartín, MadridMostrar en el mapaCerca del metro',
  '8,1',
  'Muy bien',
  '10.393 comentarios',
  'Habitación Doble',
  '1 cama doble',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 140',
  'Precio € 140',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['Hotel Puerta America',
  'Se abre en una ventana nueva',
  'Chamartín, MadridMostrar en el mapaCerca del metro',
  'Nivel 3 del programa de Viajes sostenibles',
  '8,4',
  'Muy bien',
  '5.105 comentarios',
  'Habitación Deluxe',
  'Camas: 1 doble o 2 individuales',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 205',
  'Precio € 205',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['NH Paseo de la Habana',
  'Se abre en una ventana nueva',
  'Chamartín, MadridMostrar en el mapaCerca del metro',
  'Nivel 2 del programa de Viajes sostenibles',
  '7,8',
  'Bien',
  '2.082 comentarios',
  'Habitación Doble Estándar con cama supletoria (2 adultos + 1 niño) - 1 o 2 camas',
  'Camas: 1 doble o 2 individuales',
  'Solo quedan 5 habitaciones a este precio en nuestra web',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 227',
  'Precio € 227',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['Ilunion Suites Madrid',
  'Se abre en una ventana nueva',
  'Chamartín, MadridMostrar en el mapa',
  'Nivel 3 del programa de Viajes sostenibles',
  '8,5',
  'Muy bien',
  '6.695 comentarios',
  'Oferta Escapada',
  'Habitación Doble Estándar - 1 o 2 camas',
  'Camas: 1 doble o 2 individuales',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 190€ 152',
  'Precio original € 190. Precio actual € 152.',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['Sercotel Togumar',
  'Se abre en una ventana nueva',
  'Chamartín, MadridMostrar en el mapaCerca del metro',
  'Nivel 1 del programa de Viajes sostenibles',
  '8,3',
  'Muy bien',
  '1.764 comentarios',
  'Habitación Doble - 2 camas',
  '2 camas individuales',
  'Solo quedan 2 habitaciones a este precio en nuestra web',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 143',
  'Precio € 143',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['Hostel Thirty One 31',
  'Se abre en una ventana nueva',
  'Chamartín, MadridMostrar en el mapaCerca del metro',
  '5,9',
  'Puntuación',
  '384 comentarios',
  '2×',
  'Litera en habitación compartida mixta',
  '2 camas en habitación compartida',
  '2 camas individuales',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 34',
  'Precio € 34',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['Hostal Madrid Paradise',
  'Se abre en una ventana nueva',
  'Chamartín, MadridMostrar en el mapaCerca del metro',
  '6,5',
  'Puntuación',
  '556 comentarios',
  '1×',
  'Cama en habitación compartida mixta de 6 camas',
  'Cama en habitación compartida • 26m²',
  '1 litera',
  '1×',
  'Cama en habitación compartida mixta de 6 camas',
  'Cama en habitación compartida',
  '1 cama individual',
  'mar, 9 may - mié, 10 may',
  '1 noche, 2 adultos',
  '€ 36',
  'Precio € 36',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['AC Hotel Aitana by Marriott',
  'Se abre en una ventana nueva',
  'Chamartín, MadridMostrar en el mapaCerca del metro',
  'Nivel 1 del programa de Viajes sostenibles',
  '8,8',
  'Fabuloso',
  '748 comentarios',
  'Habitación Doble Superior - 2 camas',
  '2 camas individuales',
  'Solo quedan 5 habitaciones a este precio en nuestra web',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 308',
  'Precio € 308',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['UVE Marcenado',
  'Se abre en una ventana nueva',
  'Chamartín, MadridMostrar en el mapaCerca del metro',
  'Nivel 1 del programa de Viajes sostenibles',
  '9,2',
  'Fantástico',
  '2.371 comentarios',
  'Habitación con cama extragrande.',
  '1 cama doble extragrande',
  'Solo quedan 3 habitaciones a este precio en nuestra web',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 119',
  'Precio € 119',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['Barceló Imagine',
  'Se abre en una ventana nueva',
  'Chamartín, MadridMostrar en el mapaCerca del metro',
  'Nivel 1 del programa de Viajes sostenibles',
  '9,1',
  'Fantástico',
  '2.815 comentarios',
  'Habitación Doble Deluxe - 1 o 2 camas',
  'Camas: 1 doble o 2 individuales',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 263',
  'Precio € 263',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['Desayuno incluido',
  'NH Collection Madrid Eurobuilding',
  'Se abre en una ventana nueva',
  'Chamartín, MadridMostrar en el mapaCerca del metro',
  'Nivel 2 del programa de Viajes sostenibles',
  '8,9',
  'Fabuloso',
  '1.709 comentarios',
  'Habitación Doble Superior - 1 o 2 camas',
  'Camas: 1 doble o 2 individuales',
  'Desayuno incluido',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 405',
  'Precio € 405',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['NUEVOS DUPLEX PRINCIPE VERGARA',
  'Se abre en una ventana nueva',
  'Promocionado',
  'Este establecimiento paga un poco más para promocionarse en nuestra página. Cumple con tus criterios de búsqueda y es una muy buena opción.',
  'Chamartín, MadridMostrar en el mapa',
  '6,9',
  'Puntuación',
  '428 comentarios',
  'Loft Deluxe',
  'Apartamento entero • 1 dormitorio • 1 sala de estar • 2 baños • 1 cocina • 69m²',
  '3 camas (1 doble, 2 sofás cama)',
  'Solo queda 1 a este precio en nuestra web',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 120',
  'Precio € 120',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['Don Pio',
  'Se abre en una ventana nueva',
  'Chamartín, MadridMostrar en el mapaCerca del metro',
  '8,6',
  'Fabuloso',
  '392 comentarios',
  'Habitación Doble - 1 o 2 camas',
  'Camas: 1 doble o 2 individuales',
  'Solo quedan 3 habitaciones a este precio en nuestra web',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 175',
  'Precio € 175',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['Hotel 4C Puerta Europa',
  'Se abre en una ventana nueva',
  'Tetuán, MadridMostrar en el mapaCerca del metro',
  '7,8',
  'Bien',
  '1.283 comentarios',
  'Habitación Doble - 2 camas',
  '2 camas individuales',
  'Solo queda 1 habitación a este precio en nuestra web',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 80',
  'Precio € 80',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['Abba Madrid',
  'Se abre en una ventana nueva',
  'Salamanca, MadridMostrar en el mapaCerca del metro',
  'Nivel 1 del programa de Viajes sostenibles',
  '8,8',
  'Fabuloso',
  '1.873 comentarios',
  'Habitación Doble - 2 camas',
  '2 camas individuales',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 105',
  'Precio € 105',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['Far Home Bernabeu',
  'Se abre en una ventana nueva',
  'Tetuán, MadridMostrar en el mapaCerca del metro',
  'Nivel 2 del programa de Viajes sostenibles',
  '8,2',
  'Muy bien',
  '2.151 comentarios',
  'Habitación Doble Económica',
  '1 cama doble',
  'Solo queda 1 habitación a este precio en nuestra web',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 79',
  'Precio € 79',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['NH Madrid Balboa',
  'Se abre en una ventana nueva',
  'Salamanca, MadridMostrar en el mapaCerca del metro',
  'Nivel 3 del programa de Viajes sostenibles',
  '8,5',
  'Muy bien',
  '1.386 comentarios',
  'Habitación Doble Estándar - 1 o 2 camas',
  'Camas: 1 doble o 2 individuales',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 156',
  'Precio € 156',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['Espahotel Plaza Basílica',
  'Se abre en una ventana nueva',
  'Tetuán, MadridMostrar en el mapaCerca del metro',
  '8,2',
  'Muy bien',
  '989 comentarios',
  'Estudio (2 adultos)',
  'Estudio entero • 1 baño • 1 cocina • 20m²',
  '1 cama doble',
  'Solo queda 1 a este precio en nuestra web',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 140',
  'Precio € 140',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['NYX Hotel Madrid by Leonardo Hotels',
  'Se abre en una ventana nueva',
  'Tetuán, MadridMostrar en el mapaCerca del metro',
  'Nivel 2 del programa de Viajes sostenibles',
  '8,2',
  'Muy bien',
  '5.364 comentarios',
  'Habitación Doble Económica',
  '1 cama doble',
  'Solo quedan 2 habitaciones a este precio en nuestra web',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 194',
  'Precio € 194',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['LooP America',
  'Se abre en una ventana nueva',
  'Gestionado por un particular',
  'Salamanca, MadridMostrar en el mapaCerca del metro',
  '6,8',
  'Puntuación',
  '921 comentarios',
  'Habitación Doble con baño privado',
  '1 cama doble',
  'Solo queda 1 habitación a este precio en nuestra web',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 48',
  'Precio € 48',
  'Incluye impuestos y cargos',
  'Ver disponibilidad'],
 ['AC Hotel Avenida de América by Marriott',
  'Se abre en una ventana nueva',
  'Salamanca, MadridMostrar en el mapaCerca del metro',
  'Nivel 2 del programa de Viajes sostenibles',
  '8,6',
  'Fabuloso',
  '2.027 comentarios',
  'Habitación con cama grande',
  '1 cama doble grande',
  'lun, 8 may - mar, 9 may',
  '1 noche, 2 adultos',
  '€ 178',
  'Precio € 178',
  'Incluye impuestos y cargos',
  'Ver disponibilidad']]

In [20]:
filas_dict = {} #Creates a dictionary with name of accomodation and price.

for i in filas:
    name = i[0].replace('-', '')
    price = i[-3][-3:].strip('.')
    filas_dict[name] = price

filas_dict

{'Roisa Hostal Boutique': ' 95',
 'La Posada de El Chaflán': '72',
 'Ilunion Pio XII': '19',
 'Crisol Vía Castellana': '140',
 'Hotel Chamartin The One': '140',
 'Hotel Puerta America': '205',
 'NH Paseo de la Habana': '227',
 'Ilunion Suites Madrid': '52',
 'Sercotel Togumar': '143',
 'Hostel Thirty One 31': ' 34',
 'Hostal Madrid Paradise': ' 36',
 'AC Hotel Aitana by Marriott': '308',
 'UVE Marcenado': '119',
 'Barceló Imagine': '263',
 'Desayuno incluido': '405',
 'NUEVOS DUPLEX PRINCIPE VERGARA': '120',
 'Don Pio': '175',
 'Hotel 4C Puerta Europa': ' 80',
 'Abba Madrid': '105',
 'Far Home Bernabeu': ' 79',
 'NH Madrid Balboa': '156',
 'Espahotel Plaza Basílica': '140',
 'NYX Hotel Madrid by Leonardo Hotels': '194',
 'LooP America': ' 48',
 'AC Hotel Avenida de América by Marriott': '178'}

In [21]:
# Column names
cabeceras = ['name', 'price']

# Creates DF from dictionary
df_booking = pd.DataFrame.from_dict(filas_dict, orient='index')
df_booking = df_booking.reset_index()
df_booking.columns = cabeceras

# change data type of 'age' column to integer
df_booking = df_booking.astype({'price': int})

df_booking

                                       name  price
0                     Roisa Hostal Boutique     95
1                   La Posada de El Chaflán     72
2                           Ilunion Pio XII     19
3                     Crisol Vía Castellana    140
4                   Hotel Chamartin The One    140
5                      Hotel Puerta America    205
6                     NH Paseo de la Habana    227
7                     Ilunion Suites Madrid     52
8                          Sercotel Togumar    143
9                      Hostel Thirty One 31     34
10                   Hostal Madrid Paradise     36
11              AC Hotel Aitana by Marriott    308
12                            UVE Marcenado    119
13                          Barceló Imagine    263
14                        Desayuno incluido    405
15           NUEVOS DUPLEX PRINCIPE VERGARA    120
16                                  Don Pio    175
17                   Hotel 4C Puerta Europa     80
18                              Abba Madrid    105
19                        Far Home Bernabeu     79
20                         NH Madrid Balboa    156
21                 Espahotel Plaza Basílica    140
22      NYX Hotel Madrid by Leonardo Hotels    194
23                             LooP America     48
24  AC Hotel Avenida de América by Marriott    178

In [22]:
#Adds a column for storing source of data
df_booking['web'] = 'Booking.com'
df_booking['distrito'] = 'Chamartín'
df_booking

                                       name  price          web   distrito
0                     Roisa Hostal Boutique     95  Booking.com  Chamartín
1                   La Posada de El Chaflán     72  Booking.com  Chamartín
2                           Ilunion Pio XII     19  Booking.com  Chamartín
3                     Crisol Vía Castellana    140  Booking.com  Chamartín
4                   Hotel Chamartin The One    140  Booking.com  Chamartín
5                      Hotel Puerta America    205  Booking.com  Chamartín
6                     NH Paseo de la Habana    227  Booking.com  Chamartín
7                     Ilunion Suites Madrid     52  Booking.com  Chamartín
8                          Sercotel Togumar    143  Booking.com  Chamartín
9                      Hostel Thirty One 31     34  Booking.com  Chamartín
10                   Hostal Madrid Paradise     36  Booking.com  Chamartín
11              AC Hotel Aitana by Marriott    308  Booking.com  Chamartín
12                            UVE Marcenado    119  Booking.com  Chamartín
13                          Barceló Imagine    263  Booking.com  Chamartín
14                        Desayuno incluido    405  Booking.com  Chamartín
15           NUEVOS DUPLEX PRINCIPE VERGARA    120  Booking.com  Chamartín
16                                  Don Pio    175  Booking.com  Chamartín
17                   Hotel 4C Puerta Europa     80  Booking.com  Chamartín
18                              Abba Madrid    105  Booking.com  Chamartín
19                        Far Home Bernabeu     79  Booking.com  Chamartín
20                         NH Madrid Balboa    156  Booking.com  Chamartín
21                 Espahotel Plaza Basílica    140  Booking.com  Chamartín
22      NYX Hotel Madrid by Leonardo Hotels    194  Booking.com  Chamartín
23                             LooP America     48  Booking.com  Chamartín
24  AC Hotel Avenida de América by Marriott    178  Booking.com  Chamartín

In [23]:
#Load csv file into a DF
df_bb_listing=pd.read_csv('../data/listings.csv')
df_bb_listing.sample(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
11878,35158853,Vicky’s house,7038086,Vir,Salamanca,Guindalera,40.43034,-3.66764,Private room,999,1,0,NaN,NaN,1,89
9888,32123252,Hostal en el centro de Madrid a 2min de Callao,240975048,Palacio Luna,Centro,Universidad,40.42198,-3.70413,Hotel room,43,1,17,2021-03-25,0.70,10,131
5249,19456185,Habitación doble pisito en Malasaña,36131432,Maria,Centro,Universidad,40.42131,-3.70479,Private room,100,2,0,NaN,NaN,1,0
9089,29892411,Gorgeous 2 bedroom flat in the heart of La Latina,34428039,Lucy & John,Centro,Embajadores,40.40976,-3.70836,Entire home/apt,80,5,3,2019-05-01,0.11,1,0
4695,18521797,B2 4 2H Habitación. Apartamento Nuevo y Moderno,14032635,Carlos,Tetuán,Cuatro Caminos,40.45125,-3.70292,Entire home/apt,138,1,6,2017-11-30,0.13,31,354
4061,16721576,Vacaciones en Madrid,110789241,Seyed Mohammad,Puente de Vallecas,San Diego,40.38781,-3.66736,Private room,21,1,30,2019-10-16,0.61,1,180
684,2364463,Exclusive Apartament in Lavapies,12077356,Juan Ramón,Centro,Embajadores,40.40672,-3.69915,Entire home/apt,45,1,272,2021-02-28,3.15,1,267
12070,35246233,Habitacion grande para 2 personas final champions,146521342,Sandra,Vicálvaro,Ambroz,40.40863,-3.60550,Private room,750,1,0,NaN,NaN,1,179
7204,24202622,Central Ensuite at Barrio Salamanca,29037362,Marta,Salamanca,Castellana,40.43413,-3.68244,Private room,80,15,56,2020-03-10,1.57,3,0
16434,43428587,Gran Vía Suites by Be Mate Classic 4,344543262,Gran Vía Suites,Centro,Sol,40.41796,-3.70116,Entire home/apt,79,1,3,2021-04-04,1.48,9,178

In [24]:
#Checks shape
df_bb_listing.shape

(19618, 16)

In [25]:
#Clean nulls and duplicates.
df_bb_listing = df_bb_listing.dropna().drop_duplicates()
#Checks shape
df_bb_listing.shape

(13584, 16)

In [26]:
df_bb_listing.neighbourhood_group.value_counts()

Centro                   6599
Salamanca                 854
Arganzuela                776
Chamberí                  735
Tetuán                    525
Retiro                    477
Carabanchel               437
Ciudad Lineal             417
Puente de Vallecas        413
Chamartín                 378
Moncloa - Aravaca         375
Latina                    363
Hortaleza                 246
San Blas - Canillejas     231
Fuencarral - El Pardo     196
Usera                     186
Barajas                   109
Villaverde                101
Villa de Vallecas          67
Moratalaz                  61
Vicálvaro                  38
Name: neighbourhood_group, dtype: int64

In [27]:
#Drop rows where neighbourhood_group is not Chamartín
chamartin=[r for index, r in df_bb_listing.iterrows() if r['neighbourhood_group']=='Chamartín']
df_chamartin_bb = pd.DataFrame(chamartin)
df_chamartin_bb

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,6369,"Rooftop terrace room , ensuite bathroom",13660,Simon,Chamartín,Hispanoamérica,40.45724,-3.67688,Private room,60,1,78,2020-09-20,0.58,1,180
91,337292,Principe de Vergara. Homey Room,1714866,Francisco,Chamartín,Ciudad Jardín,40.44663,-3.67625,Private room,35,2,7,2017-04-18,0.07,1,0
97,342557,Berlin's Park at your window. Parking included.,1738288,Jose Angel,Chamartín,Ciudad Jardín,40.45005,-3.67569,Private room,70,2,55,2019-11-03,0.60,1,343
167,544736,SUNNY & EASY ACCESIBLE BEDROOM,1284868,Rocio,Chamartín,Hispanoamérica,40.45841,-3.67598,Private room,21,2,37,2021-03-31,0.39,3,311
197,616027,"Quiet room well located, Av.America",3053021,Sonia,Chamartín,Prosperidad,40.43922,-3.67574,Private room,23,1,74,2018-09-19,0.71,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18917,47936837,Cozy Private Housing Rental in shared apartment,369379555,Vitoria,Chamartín,Hispanoamérica,40.45661,-3.68066,Private room,27,1,2,2021-03-31,0.80,1,305
18985,48049256,Nuevo/acogedor estudio en Prosperidad con terraza,9885245,My Mad Madrid,Chamartín,Ciudad Jardín,40.44704,-3.67156,Entire home/apt,34,2,2,2021-04-10,2.00,38,354
19089,48204816,Beautiful & cozy apartment in Bernabeu!,388923241,Keren,Chamartín,Nueva España,40.46165,-3.68668,Entire home/apt,40,1,1,2021-03-29,1.00,1,77
19324,48672492,HABITACION/ESTUDIO Entrada independiente,364849660,Eric,Chamartín,Ciudad Jardín,40.44999,-3.66736,Private room,36,2,3,2021-04-07,3.00,1,336
19375,48794295,GRAN HABITACION INDIVIDUAL BUENA ZONA Y COMUNI...,1284868,Rocio,Chamartín,Nueva España,40.45919,-3.67665,Private room,19,2,1,2021-03-28,1.00,3,333

In [28]:
#Keep columns name and price, adds a column called web where source is stored
df_bb = df_chamartin_bb.loc[:, ['name', 'price']].assign(web='Air B&B', distrito='Chamartín')
type(df_bb.price[0])

numpy.int64

In [29]:
df_bb = df_bb.reset_index(drop=True)
df_bb

,name,price,web,distrito
0,"Rooftop terrace room , ensuite bathroom",60,Air B&B,Chamartín
1,Principe de Vergara. Homey Room,35,Air B&B,Chamartín
2,Berlin's Park at your window. Parking included.,70,Air B&B,Chamartín
3,SUNNY & EASY ACCESIBLE BEDROOM,21,Air B&B,Chamartín
4,"Quiet room well located, Av.America",23,Air B&B,Chamartín
...,...,...,...,...
373,Cozy Private Housing Rental in shared apartment,27,Air B&B,Chamartín
374,Nuevo/acogedor estudio en Prosperidad con terraza,34,Air B&B,Chamartín
375,Beautiful & cozy apartment in Bernabeu!,40,Air B&B,Chamartín
376,HABITACION/ESTUDIO Entrada independiente,36,Air B&B,Chamartín
377,GRAN HABITACION INDIVIDUAL BUENA ZONA Y COMUNI...,19,Air B&B,Chamartín

In [30]:
#Load csv file into a DF
df_distritos = pd.read_csv('../data/Distritos_Lat_Lon.csv')
df_distritos

                 DISTRITO;LATITUD;LONGITUD
0                 Centro;40.41831;-3.70275
1             Arganzuela;40.40021;-3.69618
2                Retiro;40.41317 ;-3.68307
3             Salamanca;40.42972 ;-3.67975
4               Chamartín;40.46206;-3.6766
5                  Tetuan;40.45975;-3.6975
6               Chamberi;40.43404;-3.70379
7     Fuencarral-El Pardo;40.4984 ;-3.7314
8         Moncloa-Aravaca;40.43547;-3.7317
9                 Latina;40.38897;-3.74569
10            Carabanchel;40.39094;-3.7242
11                 Usera;40.38866;-3.70035
12     Puente De Vallecas;40.39354 ;-3.662
13           Moratalaz;40.40742 ;-3.664935
14        Ciudad Lineal;40.44505 ;-3.65132
15              Hortaleza;40.47444;-3.6411
16                   Villaverde;40.35;-3.7
17        Villa de Vallecas;40.374;-3.6122
18              Vicalvaro;40.394 ;-3.60288
19  San Blas-Canillejas;40.43893 ;-3.61537
20           Barajas;40.4736600;-3.5777700

In [31]:
# Split the values in the column in three separate columns
df_distritos[['distrito', 'latitud', 'longitud']] = df_distritos['DISTRITO;LATITUD;LONGITUD'].str.split(';', expand=True)

# Drop the original column 
df_distritos.drop('DISTRITO;LATITUD;LONGITUD', axis=1, inplace=True)
print(df_distritos.info())
df_distritos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   distrito  21 non-null     object
 1   latitud   21 non-null     object
 2   longitud  21 non-null     object
dtypes: object(3)
memory usage: 632.0+ bytes
None

               distrito     latitud    longitud
0                Centro    40.41831    -3.70275
1            Arganzuela    40.40021    -3.69618
2                Retiro   40.41317     -3.68307
3             Salamanca   40.42972     -3.67975
4             Chamartín    40.46206     -3.6766
5                Tetuan    40.45975     -3.6975
6              Chamberi    40.43404    -3.70379
7   Fuencarral-El Pardo    40.4984      -3.7314
8       Moncloa-Aravaca    40.43547     -3.7317
9                Latina    40.38897    -3.74569
10          Carabanchel    40.39094     -3.7242
11                Usera    40.38866    -3.70035
12   Puente De Vallecas   40.39354       -3.662
13            Moratalaz   40.40742    -3.664935
14        Ciudad Lineal   40.44505     -3.65132
15            Hortaleza    40.47444     -3.6411
16           Villaverde       40.35        -3.7
17    Villa de Vallecas      40.374     -3.6122
18            Vicalvaro     40.394     -3.60288
19  San Blas-Canillejas   40.43893     -3.61537
20              Barajas  40.4736600  -3.5777700

In [32]:
#Export to sql

#Import SQL Alchemy.
from sqlalchemy import create_engine

#Creates connection
str_conn = 'mysql+pymysql://root:--------@127.0.0.1:3306/accommodations'

cursor = create_engine(str_conn)

#RESPETAR JERARQUIA MADRE-HIJA

#Insert data in distritos
df_distritos.to_sql(name='distritos', 
            con=cursor,
            if_exists='append',   
            index=False
           )

#Insert data in air_b&b
df_bb.to_sql(name='Air_B&B', 
            con=cursor,
            if_exists='append',   
            index=False
           )

#Insert data in booking
df_booking.to_sql(name='Booking', 
            con=cursor,
            if_exists='append',   
            index=False
           )

25